<%- contentFor('body') %>
<section class="page-content">
	<section class="panel">
		<div class="panel-heading">
	        <h3>
	           Manage Profile
	        </h3>
	    </div>
		<div class="panel-body">
			<div>
				<%if (messages.errors) { %>
	                <div class="alert alert-danger" role="alert">
	                	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	                		<span aria-hidden="true">×</span>
	                	</button>
	                	<%= messages.errors[0].message %>
	                </div>
	            <% } %>
	            <%if (messages.success) { %>
	                <div class="alert alert-success" role="alert">
	                	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	                		<span aria-hidden="true">×</span>
	                	</button>
	                	<%= messages.success[0].message %>
	                </div>
	            <% } %>
			</div>

			<div class="row">
				<div class="col-md-12">
					<form name="validatedFrm"  class="validatedFrm" ng-submit="changePassword($event)">
					     
					        <div class="form-group row">
					            <div class="col-md-3">
					                <label class="form-control-label">New Password</label>
					            </div>
					            <div class="col-md-9">
					                 <input type="password" name="password" id="group-edit" class="form-control" placeholder="Password" ng-model="userPass.password"  ng-minlength="4" ng-maxlength="50"  required>
					                 <p class="myError" style="color:red" ng-if="validatedFrm.password.$error.empty">password is required.</p>
			                            <p class="myError" style="color:red" ng-show="validatedFrm.password.$error.minlength" class="help-block">Please enter at least 4 characters.</p>
           						 <p class="myError" style="color:red" ng-show="validatedFrm.password.$error.maxlength" class="help-block">password is too long.</p>
					            </div>
					        </div>
					        <div class="form-group row">
					            <div class="col-md-3">
					                <label class="form-control-label">Confirm Password</label>
					            </div>
					            <div class="col-md-9">
					                <input type="password" name="confirm_password" class="form-control" placeholder="Confirm Password" ng-model="userPass.confirm_password">
					            </div>
					             <p class="myError" style="color:red" ng-show="userPass.invalid" class="help-block">Please enter the same value again.</p>
					        </div>
					        <button type="submit" class="btn btn-primary"  >Save changes</button>
					      
				    </form>
				</div>
			</div>
		</div>
	</section>
</section>

<%- contentFor('page_script') %>
<!-- Page Scripts -->
