<nav class="left-menu" left-menu>
    <div class="logo-container">
        <a href="index.html" class="logo">
            <img src="../assets/common/img/logo.png" alt="Clean UI Admin Template" />
            <img class="logo-inverse" src="../assets/common/img/logo-inverse.png" alt="Clean UI Admin Template" />
        </a>
    </div>
    <div class="left-menu-inner scroll-pane">
        <ul class="left-menu-list left-menu-list-root list-unstyled">
            <li class="<%= tab == 'manage_groups' ? 'left-menu-list-active' : '' %>">
                <a class="left-menu-link" href="/admin/manage_groups">
                    <i class="left-menu-link-icon fa fa-group"><!-- --></i>
                    Groups
                </a>
            </li>
            <li class="<%= tab == 'manage_users' ? 'left-menu-list-active' : '' %>">
                <a class="left-menu-link" href="/admin/manage_users">
                    <i class="left-menu-link-icon fa fa-user"><!-- --></i>
                    Users
                </a>
            </li>
        </ul>
    </div>
</nav>